/* Importing a Google Font */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,400;0,700;1,200;1,400;1,700&display=swap');
@import url('https://use.typekit.net/doq7uwr.css');
@import url('https://use.typekit.net/doq7uwr.css');

/* Changing the main font and background colour */

body {
	font-family: "new-atten", sans-serif;
	font-weight: 400;
	font-style: normal;
	background-color: #fffcf8;
}

h1 {
	font-family: "verveine", sans-serif;
	font-weight: 5000;
	font-style: normal;
	font-size: 70px;
}

h2 {
	font-family: "verveine", sans-serif;
	font-weight: 8000;
	font-style: normal;
	font-size: 50px;
	text-shadow: 2px 4px 4px black;
}

h3 {
	font-family: "verveine", sans-serif;
	font-weight: 8000;
	font-style: normal;
	font-size: 50px;
}

/* Changing the background colour for the header */

header {
	background-color: #7DDE92;
}

/* Changing the background color for the navigation bar */

.navbar {
	background-color: #F8FFE5;
}

/* Effect on social media buttons */

footer a:hover {
	opacity: .5;
}

/* Corporate navbar */

#navbar-corporate a.active {
	color: #fb6107;
	font-weight: bold;
}

.btn-primary {
	background-color: #fb6107;
	border: #fb6107;
}

.btn-primary:active {
	background-color: #7DDE92;
  }

.btn-primary:hover {
	background-color: #7DDE92;
}
